body {
    color: limegreen;
    background-color: black;
    background-image: url("../imagens/paisagem.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;

        /* 
background: black 
            url("../imagens/paisagem.jpg")
    no-repeat
    fixed
    20px 30px; 
    */
}

h1 {
    color: white;
    background-color: rgba(0, 0, 0, 0.322);
}
